<% provide(:title, "") %>

<% if logged_in? %>
    <div class="row">
      <div class="col-md-12">
        <section class="post-form-container">
          <%= render 'shared/post_form' %>
        </section>
        <section class="post-form-user-icon">
          <div class="user-icon"><img src="https://us.123rf.com/450wm/tuktukdesign/tuktukdesign1606/tuktukdesign160600119/59070200-%E3%83%A6%E3%83%BC%E3%82%B6%E3%83%BC-%E3%82%A2%E3%82%A4%E3%82%B3%E3%83%B3-%E7%94%B7%E3%80%81%E3%83%97%E3%83%AD%E3%83%95%E3%82%A1%E3%82%A4%E3%83%AB%E3%80%81%E5%AE%9F%E6%A5%AD%E5%AE%B6%E3%80%81%E3%82%A2%E3%83%90%E3%82%BF%E3%83%BC%E3%80%81%E3%83%99%E3%82%AF%E3%83%88%E3%83%AB%E5%9B%B3%E3%81%A7%E4%BA%BA%E3%82%A2%E3%82%A4%E3%82%B3%E3%83%B3.jpg?ver=6"></div>
          <p class="user-name"><%= current_user.name %></p>
        </section>
        <div class="clearfix"></div>
      </div>
    </div>
    
    <div class="post-list-container">
      <div class="post-list-header">
        <h2><%= fa_icon("book") %> ブログ一覧</h2>
      </div>
      <% unless @posts.nil? %>
        <div class="post-main-container">
        <% @posts.each do |post| %>
          <div class="post-list">
            <div class="post-title">
              <h3><%= link_to post.title, post %></h3>
            </div>
            <div class="post-desc">
              <%= simple_format(h(post.content)) %>
            </div>
            <div class="post-footer">
              <%= post.user.name %> | <%= post.created_at.strftime('%Y年%m月%d日（%a）') %>
              <% if current_user == post.user %>
                | <%= link_to "削除",  post, method: :delete, data: { confirm: '投稿を削除してよろしいですか' } %>
              <% end %>
            </div>
          </div>
        <% end %>
        </div>
      <% end %>
    </div>
    
    <% unless @posts.nil? %>
    <div class="pagination-container">
      <%= will_paginate @posts %>
    </div>
    <% end %>
<% else %>

<%= render 'shared/login_form' %>

<% end %>