<% provide(:title, 'ユーザー一覧') %>
<div class="post-list-header">
    <h2><%= fa_icon("users") %> ユーザー一覧</h2>
</div>

    <%= will_paginate %>
    
    <div class="user-table">
        <table class="table table-striped">
        <thead>
            <tr>
                <th>ID <%= link_to fa_icon("arrow-up"), users_path(key: 'id', sort: 'ASC') %> <%= link_to fa_icon("arrow-down"), users_path(key: 'id', sort: 'DESC') %></th>
                <th>ユーザ名 <%= link_to fa_icon("arrow-up"), users_path(key: 'name', sort: 'ASC') %> <%= link_to fa_icon("arrow-down"), users_path(key: 'name', sort: 'DESC') %></th>
                <th>登録日 <%= link_to fa_icon("arrow-up"), users_path(key: 'created_at', sort: 'ASC') %> <%= link_to fa_icon("arrow-down"), users_path(key: 'created_at', sort: 'DESC') %></th>
                <th>　　</th>
            </tr>
        </thead>
        <tbody>
            <% @users.each do |user| %>
                <tr>
                    <th><%= user.id %></th>
                    <td><%= user.name %></td>
                    <td><%= user.created_at.strftime('%Y年%m月%d日（%a）') %></td>
                    <td>
                        <% if current_user?(user) %>
                            <%= link_to "編集", edit_user_path(user), class: "btn btn-info" %>
                        <% end %>
                        <% if current_user.admin? && !current_user?(user) %>
                            <%= link_to "削除", user, method: :delete, data: { confirm: "削除してよろしいですか？" } , class: "btn btn-danger" %>
                        <% end %>
                    </td>
                </tr>
            <% end %>
        </tbody>
        </table>
    </div>
    
    <%= will_paginate %>