<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <!--[if lt IE 9]>
      <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/r29/html5.min.js">
      </script>
    <![endif]-->
  </head>

  <body>
    
    <nav class="navbar navbar-default">
    	<div class="container-fluid">
    		<div class="navbar-header">
    			<a class="navbar-brand" href="#">講義用デモサイト</a>
    		</div>
    		
    		<div class="collapse navbar-collapse" id="navbarEexample">
    			<ul class="nav navbar-nav">
  			    <li><%= link_to "トップページ", root_path %></li>
    			  <% unless logged_in? %>
    			    <li><%= link_to "会員登録", signup_path %></a></li>
    			    <li><%= link_to "ログイン", login_path %></a></li>
    			  <% else %>
    			    <li><%= link_to "ユーザー一覧", users_path %></li>
    			    <li><%= link_to "設定", edit_user_path(current_user) %></li>
    			    <li><%= link_to "ログアウト", logout_path, method: :delete %></li>
    			    <p class="text-right" style="margin-top: 15px; width: 500px"><%= current_user.name %> さんでログインしています。</p>
    			  <% end %>
    			</ul>
    		</div>
    	</div>
    </nav>
    
    <div class="container">
        <% flash.each do |message_type, message| %>
          <div class="alert alert-<%= message_type %>"><%= message %></div>
        <% end %>
        <%= yield %>
        <%= debug(params) if Rails.env.development? %>
    </div>
    
    <footer class="footer">
      <div class="container">
        <p class="text-muted">Place sticky footer content here.</p>
      </div>
    </footer>

  </body>
</html>
